<h1>FIND MY FAVORITE MOVIES</h1>

<p> use the <strong>t</strong> query to search through titles</p>
<p> use the <strong>y</strong> query to search through years</p>
<p> use the <strong>t</strong>  and <strong>y</strong> to query to search through titles</p>

<%= link_to "Search", search_path %>
